# 禁用pnpm联网检查和遥测
fund=false
audit=false
update-notifier=false
fetch-retries=0
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
prefer-offline=true
enable-pre-post-scripts=false

# 禁用版本检查
check-latest=false
disable-anonymous-reporting=true

# 设置超时时间（毫秒）
timeout=10000 